/* LOGO CSS */
.logoImage{
    width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
  }
  .nav-logo {
    width: 10.5%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
  }
/* LOGO CSS */