
#deleteBtn{
    color: red;
    width: 106px;
    height: 40px;
}

#editBtn{
    color: blue;
    width: 90px;
    height: 40px;
}

.btnContain{
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    margin-bottom: 19px;
    gap: 7px;
    margin-top: 19px;
    margin-right: 5px;
}