/* BUTTON CSS */
.btn{
  width: 212px;
  height: 88px;
}

.btnCont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 25px;
}
  /* BUTTON CSS */