.nav-content {
    display: inline-block;
    align-items: center;
    background: #12151c;
    font-family: "Poppins", sans-serif;
    width: 100%;
    z-index: 1010;
  }
  
  .menu-list {
    position: relative;
    /* display: inline-block; */
    min-width: 300px;
    text-align: right;
    right: 5px;
    height: 72px;
    float: right;
    display: grid;
    justify-content: right;
    padding-top: 22px;
    padding-right: 15px;
  }
  .menu-list ul#menu {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
  }
  #menu li {
    list-style: none;
    padding: 10px 10px;
    margin: 0 0.3vh;
  }
  #menu li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  }
h1{
  display: grid;
  color: white;
}