/* START BODY */
* {
    margin: 0;
  }
  html {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    /* margin-bottom: -142px;  */
  }
  .page-wrap:after {
    content: "";
    display: block;
  }

/* END BODY */
/* START HEADER */
  .nav-content {
    display: inline-block;
    align-items: center;
    background: #1976D2;
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: white;
    z-index: 1010;
  }
  
  .menu-list {
    position: relative;
    /* display: inline-block; */
    min-width: 300px;
    text-align: right;
    right: 5px;
    height: 72px;
    float: right;
    display: grid;
    justify-content: right;
    padding-top: 22px;
    padding-right: 15px;
    color: white;
  }
  .menu-list ul#menu {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
  }
  #menu li {
    list-style: none;
    padding: 10px 10px;
    margin: 0 0.3vh;
    color: white;
  }
  #menu li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  }

  h1{
    color: white;
    z-index: 1001;
    justify-content: center;
    margin-top: 50px;
  }
/* END HEADER */

